<html>
    <head>

    </head>
    <body>
        <h1>Test page</h1>

        /*let marker = null;
        <% for(var element of data ) { %>
            marker = new google.maps.Marker({
                position: {
                    lat: <%= element.latitude %>,
                    lng: <%= element.longitude %>
                },
                map: map,
                label: {
                    text: "<%= element.ssid %>",
                    color: "white"
                }});
            google.maps.event.addListener(marker, 'click', () => { window.location.replace('http://localhost:3010/projects/accesspointmap/accesspoint/id/' + <%= element.id.toString()%> ) });
        <% } %>   */ 

        <script>
            var rows =<%-JSON.stringify(data)%>
        </script>
    </body>
</html>